.game-board>div{
    display: flex;
}

.game-board>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}